*{
    margin: 0;
}

.header{
    &__block{
        height: 84;
        padding: 24px 370px 24px 370px;
    }
    &__frame{
        display: flex;
        align-items: center;
        margin-right: 300px;
        
        color: black;
        
    }
    &__logo{
        display: flex;
        

    }
}