* {
  margin: 0;
}

.header__block {
  height: 84;
  padding: 24px 370px 24px 370px;
}
.header__frame {
  display: flex;
  align-items: center;
  margin-right: 300px;
  color: black;
}
.header__logo {
  display: flex;
}